html{
    font-size:10px;
}
@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top:7rem;
        left:0;
        background-color: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
        display: none;
    }
    nav ul li{
        display: block;
        margin-right: 5rem;
        margin-top:1rem;
        margin-bottom: 1rem;
    }
    nav ul li a{
        color:white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* MEDIA FOR LESS THAN 600 screen size */
@media only screen and (max-width:600px){
    .row{
        text-align: center;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .page-btn{
        align-items: center;
        justify-content: center;
    }
    .single-product .row{
        text-align: left;
    }
    .col-2{
        padding:2rem 0 ;
    }
    .single-product h1{
        font-size:2.6rem;
        line-height: 3.2rem;
    }
}
