@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:10px;
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;

}
h3{
    font-size:1.8rem;
}
.logo img{
    width:12.5rem;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 2rem;
}
nav{
    flex:1;
    text-align:right
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right:2rem;
}
.logo-img{
    cursor: pointer;
}
a{
    text-decoration: none;
    color:#555;
    font-size: 1.6rem;
}
nav ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #555;
    text-underline-offset: 1rem;

}
p{
    color:#555;
    font-size: 1.6rem;
}
.container{
    max-width: 130rem;
    margin:auto;
    padding: 0 2.5rem;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top:7rem;

}
.col-2{
    flex-basis:50%;
    min-width: 30rem;
}
.player-img img{
    max-width:100%;
    padding: 5rem 0;
}
.col-2 h1{
    font-size:5rem;
    line-height: 6rem;
    margin:2.5rem 0;
}
.upArrow{
    font-size: 5rem;
    padding: 1rem;
    position: absolute;
    top:15%;
    right: 5%;
    background-color: #cf4432;
    color:white;
    border:none;
    border-radius: 10px;  
    transition: all 0.3s;  
}
.upArrow:hover{
    background-color: #563434;
}
footer{
    position: relative;
}
.btn{
    display: inline-block;
    background-color: #ff523b;
    color:#fff;
    padding: 0.8rem 3rem;
    margin:3rem 0;
    border-radius: 3rem;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}
.cart-img{
    width: 3rem;
    height: 3rem;
}
.menu-icon{
    width: 2.8rem;
    margin-left:2rem;
}
.categories{
    margin:7rem 0;
}
.col-3{
    flex-basis:30%;
    min-width: 25rem;
    margin-bottom: 3rem;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 108rem;
    margin:auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.col-4{
    flex-basis: 25%;
    padding: 1rem;
    min-width: 20rem;
    margin-bottom: 5rem;
    transition: transform 0.5s;
}
.products .col-4{
    min-width:26rem;
}
.col-4 img{
    height: 25rem;
}
.col-4 h4{
    font-size: 1.8rem;
    color:#555;
    font-weight: normal;
}
.col-4 p{
    font-size: 1.4rem;
}
.col-4 img {
    width: 100%;
}
.col-4:hover{
    transform: translateY(-0.5rem);
}
.title{
    text-align: center;
    margin:0 auto 8rem;
    position:relative;
    line-height: 6rem;
    color:#555;
    font-size: 2.4rem;
}
.title:after{
    content:'';
    background: #ff523b;
    width:8rem;
    height: 0.5rem ;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translate(-50%);
}
.rating .fa-star,.fa-star-half-stroke{
    color:#ff523b;
}
/* OFFER */
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 8rem;
    padding: 3rem 0;
}
.col-2 .offer-img{
    max-width: 100%;
    padding: 5rem 0;
}
small{
    font-size: 1.25rem;
    color:#555;
}
.item img{
    height: 25rem;
}
/* TESTIMONIAL */
.testimonial{
    padding-top: 10rem;
}
.testimonial .col-3{
    text-align: center;
    padding: 4rem 2rem ;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;

}
.testimonial .col-3 img{
    width: 5rem;
    margin-top: 2rem;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-1rem);

}
.testimonial .col-3 h3{
    font-weight: 600;
    color:#555;
    font-size:1.6rem;
}
.fa-quote-left{
    font-size:3.4rem;
    color:#ff523b;
}
.col-3 p {
    font-size:1.2rem;
    margin:1.2rem 0;
    color:#777;
}
/* ------------BRAND---------------- */
.brands{
    margin:10rem auto;
}
.col-5{
    width: 16rem;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter:grayscale(100%);
    transition: filter 0.5s;
}
.col-5 img:hover{
    filter:grayscale(0%);
 
}
/* ------------FOOTER----------------- */
footer{
    background-color: #000;
    color: #8a8a8a;
    font-size: 1.4rem;
    padding: 6rem 0 2rem;
}
footer p {
    color:#8a8a8a;
}
footer h3 {
    color:#fff;
    margin-bottom: 2rem;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 25rem;
    margin-bottom: 2rem;

}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex:1;
    text-align: center;
}
.footer-col-2 img{
    width: 18rem;
    margin-bottom: 2rem;
}
.footer-col-3,.footer-col-4{
   flex-basis: 12%;
   text-align: center;
}

.footer-col-3 ul,.footer-col-4 ul{
    list-style: none;
}
.app-logo{
    margin-top: 2rem;
}
.app-logo img{
    width: 14rem;
}
footer hr{
    border:none;
    background-color: #b5b5b5;
    height: 0.1px;
    margin:2rem 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 2.8rem;
    margin-left: 2rem;
    display: none;
}

/* ------------------ ALL PRODUCTS PAGE------------------ */
.row-2{
    justify-content: space-between;
    margin:10rem auto 5rem;
}
h2{
    font-size:3rem;
}
select{
    border:1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    font-size: 1.6rem;
    margin:0 auto 5rem;
    display: flex;
    justify-content: flex-end;
}
.page-btn span{
    display: inline-block;
    border:1px solid #ff523b;
    margin-left:1rem;
    width:4rem;
    height: 4rem;
    text-align: center;
    line-height:4rem ;
    cursor: pointer;
}
.page-btn span:hover{
 background: #ff523b;
 color:#fff;
}
/* PRODUCT DETAILS */
.single-product{
    margin-top:8rem;
}
.single-product .col-2{
    padding: 2rem;
}
.productDetails-img{
    width: 100%;
    padding: 0;
}
.single-product h4{
    margin:2rem 0;
    font-size: 2.2rem;
    color:#555;
    font-weight:bold ;
}
.single-product select{
    display: block;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
}
.single-product input{
    width: 5rem;
    height: 4rem;
    padding-left: 1rem;
    font-size: 2rem;
    margin-right: 1rem;
    border:1px solid #ff523b;
}
input:focus{
    outline: none;
}
.fa-indent{
    color: #ff523b;
    margin-left: 1rem;
}
.small-img-col img{
    width: 100%;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.view{
    cursor: pointer;
}
.view:hover{
    color:#777;
}
.products{
    overflow: hidden;
    flex-wrap: nowrap;
}
.left-arrow{
    padding: 1rem;
    border: none;
    background-color: #ff523b;
    border-radius:5px;
    color:white;
    position: absolute;
    font-size: 2.5rem;
    left: 10%;
    transition: all 0.3s;
}
.left-arrow:hover{
    background-color:#563434 ;
    transform: scale(0.9);
}
.right-arrow{
    padding: 1rem;
    font-size: 2.5rem;
    border: none;
    background-color: #ff523b;
    border-radius:5px;
    color:white;
    position: absolute;
    right: 10%;
    transition: all 0.3s;

}
.right-arrow:hover{
    background-color:#563434 ;
    transform: scale(0.9);
}
/* ---------------CART----------------- */

.cart{
    margin: 8rem auto;

}
table{
    width: 100%;
    border-collapse: collapse ;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 0.5rem;
    color: #fff;
    background: #ff523b;
    font-size: 1.6rem;
    font-weight: normal;
}
td{
    padding: 1rem 0.5rem;
}
td input{
    width: 4rem;
    height: 3rem;
    padding: 0.5rem;
}
td a{
    color:#ff523b;
    font-size: 1.2rem;
}
td img{
    width: 8rem;
    height: 8rem;
    margin-right:1rem ;
}
td{
    font-size: 1.6rem;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top:0.3rem solid #ff523b;
    width: 100%;
    max-width:40rem ;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}
/*--------------- REGISTERATION------------------- */
.account-page{
    padding: 5rem 0;
    background: radial-gradient(#fff,#ffd6d6);

}
.form-container{
    background-color: #fff;
    width: 30rem;
    height: 40rem;
    position: relative;
    text-align:center;
    padding: 2rem 0;
    margin: auto;
    box-shadow: 0 0 2rem 0 rgba(0,0,0,0.1);
    overflow: hidden;
}
.form-container span{
    padding: 0 1rem;
    font-weight: bold;
    font-size: 1.6rem;
    color: #555;
    cursor: pointer;
    width: 10rem;
    display: inline-block;
}
.form-btn{
    display: inline-block;

}
.form-container form{
    max-width: 30rem;
    padding: 0 2rem;
    position:absolute;
    top:13rem;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 3rem;
    margin: 1rem 0 ;
    padding: 0 1rem;
    border: 0.1rem solid #ccc;

}
form .btn{
width: 100%;
border:none;
cursor: pointer;
margin: 1rem 0;
}
form .btn:focus{
    outline:none;
}
#LoginForm{
    left:-30rem;
}
#RegForm{
    left:0;
}
form a {
    font-size: 1.2rem;

}
#indicator{
    width: 10rem;
    border: none;
    background-color: #ff523b;
    height: 0.3rem;
    margin-top:0.8rem;
    transform: translateX(10rem);
    transition: transform 1s;
}